.AllContent{
    margin: 0 auto;
    max-width: 1366px;
}

.sectionOne{
    background: url(../img/bg1all.png) no-repeat;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    min-height: 890px;
    /* padding: 30px 30px 30px 200px; */
     color: white;
     position: relative;
}
.header{
    padding-top: 20px;
    margin: auto;
    display: flex;
    max-width: 970px;
    flex-direction: row;
    justify-content: space-between;
}
.btn-menu{
   margin-left: 50px;
   position: relative;
}


.logoGoogleStore{
    top: 5px;
}
.nav__a{
    text-decoration: none;
    color: white;      
}
.nav__el{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;   
    border-radius: 10px;
    height: 30px; 
}
.nav__el:hover{
    background: #4ca3e6;
    color: white;            
}
.menu-list{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
    justify-content: space-between;
    text-align: right;
    position: relative;
}
.Xmenu{
    display: none;
}
input[type="checkbox"] {
    display: none;
}

nav label{
    display: none; 
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s
}
.img_x{
    display: none;
}

@media screen and (max-width: 780px){

    nav label{
    display: inline-block;
    }
    .menu-list{
        display: none;
    }
    
 /* .menu-list:hover {
    display: flex;
    flex-direction: column;
    } */
    input[type="checkbox"]:checked ~ label + ul {

        display: block;
        position: absolute;
    }

    input[type="checkbox"]:checked ~ label > img.img_x {
        display: block;
    }

    input[type="checkbox"]:checked ~ label > img.img_hum {
        display: none;
    }
    
}

.nav > ul{
    position: absolute;
    }
.line{
    margin:20px auto;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.308);
    margin-bottom: 280px;
}

@media screen and (max-width: 780px){

.line{
    background: rgba(255, 255, 255, 0);
}

}

.header-content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 10%;
    width: 30%;
    /* max-height: 180px; */
    font: 16px;
    color: white;
    position: relative;
    
}
.header-text{
    display: flex;
    flex-direction: column; 
}
.header-text-h1{
    font:30px serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:450px){

    .header-text-h1{
        display: flex;
       flex-direction: column;
    }
    .header-text-p{
        width: 160px;
        /* max-width: 350px; */
    }
}

.header-text-p{
    line-height: 1.6;
    width: 350px;
    text-align: justify;
}
@media screen and (max-width:450px){
.header-text-p{
    width: 160px;
    }
}
.header-btn{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    max-width: 320px;
    min-width: 300px;
}
@media screen and (max-width: 450px){
    /* .header-btn2{
     margin-left: 0px;   
    } */
    .header-btn{
        display: flex;
        flex-wrap: wrap;
        
    }
}

.sectionOne-button{
    border:none;
    background: white;
    height: 55px;
    width: 130px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.sectionOne-button:hover{
    background: rgba(41, 127, 161, 0.411);
}

.TextTitle{
text-align: center;
padding-top: 25px ;
font-family: 'Roboto Slab', serif;
}
.TextTitle__p{
    color: rgb(167, 166, 166);
    font-size: 15px;
    margin-bottom: 10px;
}
.TextTitle__h1{
    color: #616161;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.TextTitle-line{
    align-content: center;
    margin: 0 auto;
    height: 2px;
    width: 25px;
    background: rgb(102, 212, 244);
    margin-bottom: 50px;
}
.sectionTwice-categories{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sectionTwice-category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 14px sans-serif;
    height: 240px;
    max-width: 300px;
    text-align: center;
    font-family: 'Raleway' , sans-serif;   
}
.CategoryTitle{
    font-weight: bold;
    font: 20px sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}
.sectionTwice-categoryText{
line-height: 20px;
}
@media only screen and (max-width: 1240px){
    .sectionThree-unlimited__img{
        display: none;
    }
    .sectionThree-unlimited__text-content{
        margin: 0 10px;
    }
  
}
.TextTitle__h3{
    font: 25px sans-serif;
    margin-bottom: 15px;
}
.sectionThree-unlimited{
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
    margin: 0 auto;
    background: url(../img/bg3.png) no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* align-items: flex-start; */
    text-align: left;
    height: 700px;
    width: 100%;
}
.sectionThree-unlimited__text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:500px;
    height: 380px;
}
.circle{
    vertical-align:middle;
    margin-right: 15px;
}
.TextTitle__text{
    max-width: 400px;
    font-size: 15px; 
    line-height: 20px;
    color: #979797;
}
.sectionThree-unlimited__text-content-list{
    font: 13px sans-serif;
    line-height: 2;
    color: #979797;
    max-height: 250px ;
    width: 360px;
}
.button{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(102, 212, 244);
    box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
    border: none;
    border-radius: 20px;
    left: 820px;
    top: 2169px;
    width: 140px;
    height: 40px;
    color:white;    
}
.sectionFour{
    align-content: center;
    margin: o auto;
}
.sectionFour-textContent{
    text-align: center;
    height: 130px;
    padding-top: 60px ;
}
.sectionFour-textContent-line{
    align-content: center;
    margin: 0 auto;
    height: 3px;
    width: 20px;
    background: 
    rgb(102, 212, 244);
    margin-bottom: 50px;
}
.services{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sprite {
    background-image: url(../img/spritesheet-восстановлено.png);
    background-repeat: no-repeat;
    display: block;
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.sprite-2Coding {
    width: 45px;
    height: 46px;
    background-position: -5px -5px;
}
.sprite-3Games {
    width: 45px;
    height: 46px;
    background-position: -60px -5px;
}
.sprite-4Cart {
    width: 45px;
    height: 46px;
    background-position: -115px -5px;
}
.sprite-4Responciv {
    width: 45px;
    height: 46px;
    background-position: -5px -61px;
}
.sprite-6Gift {
    width: 45px;
    height: 36px;
    background-position: -60px -56px;
}
.sprite-lamp {
    width: 45px;
    height: 46px;
    background-position: -172px -5px;
}
.service1-1{
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.service1-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 30px;
    
}

@media only screen and (max-width: 920px){
.services{
    margin: 0 auto;
    }
}
.sectionFive{
    background: url(../img/bg6.png);
    max-height: 600px;
}
.sectionFive-textContent{
    text-align: center;
    height: 130px;
    padding-top: 60px ;
}
.sectionFive-textContent-line{
    align-content: center;
    margin: 0 auto;
    height: 3px;
    width: 20px;
    background: 
    rgb(102, 212, 244);
    margin-bottom: 50px;
}

.slider{
    position: relative;
    max-width: 600px;
    height: 350px;
    border: none;
    border-radius: 16px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: flex;
    background: rgb(255, 255, 25512, 143, 143);
    justify-content: space-between;
    
}
.slide_content{
    padding: 60px ;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
    top: -50px;
    z-index: 1;
    
}
@media only screen and (max-width: 450px){

.slide_content{
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 170px;
}
}
.slide{
    position: relative;
    overflow: visible;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;  
}
.slide_avatar{
    /* position: relative; */
    bottom: 50px;
    margin-top: -30px;
    overflow: visible;
    margin-bottom: 220px auto;
    display: flex;
    margin: 0 auto;
    /* position: absolute; */
}
.slide_img{
    z-index: 100;
    position: relative;
    margin: 0 auto;
}
.slide_name{
    font-weight: bold ;
    font: 20px sans-serif;
}
.slide_founder{
    color: rgba(78, 75, 75, 0.74);
    margin-bottom: 30px;
    font: 14px sans-serif;
}
.slide_Text{
    line-height: 2px;
    margin: 0 auto;
    text-align: center;
    font: 15px sans-serif;
    color: rgba(56, 56, 56, 0.753);
    max-width: 450px;
    height: 50px;
}
.googleMaps{
    height: 500px;
    width: 100%;
    margin: 30px auto;
}
.footer{
    display: flex;
    flex-direction: row;
}
.sectionSix{
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sectionSix-content{
    height: 220px;
    max-width: 360px;
}
.TextTitle__text2{
    margin-top: 10px;
    font: 13px sans-serif;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.473);
}
@media only screen and (max-width: 1042px){
    .sectionSix_img{
        display: none;
    }
}

.sectionSeven{
    background: url(../img/bg7.png)
}
.sectionSeven-title{
    text-align: center;
    height: 130px;
    padding-top: 60px ;
}
.sectionSeven__tables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 30px;
}
.block:hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 600ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 600ms;
}
.sectionSeven__table{
    background: url(../img/bg7_1.png) no-repeat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin: 0 auto 20px;
    text-align: center;
    width: 300px;
}

@media only screen and (max-width: 900px){
    
    .sectionSeven{
        background: rgba(190, 234, 255, 0.13);
    }
}
.sectionSeven__info{
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 100px;
    line-height: 2;
}
.section8__title{
    margin: 0 auto;
    text-align: center;
    height: 100px;
    padding-top: 60px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin-bottom: 50px;
}
.form{
    margin: 0 auto;
    text-align: center;
    line-height: 5;
    max-width: 350px;
    height: 400px;
}
.form_field{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(196, 201, 202, 0.158);
    box-shadow: 0px 10px 16px 0px rgba(102, 211, 244, 0.055);
    border: 1px;
    border-radius: 50px;
    left: 820px;
    top: 2169px;
    width: 100%;
    height: 60px;
    color:rgb(104, 103, 103);
}
.form-button{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(102, 212, 244);
    box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
    border: 1px;
    border-radius: 50px;
    left: 820px;
    top: 2169px;
    width: 100%;
    height: 60px;
    color:rgb(104, 103, 103);
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.line-footer{
    height: 3px;
    width: 90%;
    background: rgba(194, 194, 194, 0.342);
    opacity: 90%;
    margin: o auto;
   margin-bottom: 30px;
}
.footer_title{
    color: rgb(26, 25, 25);
    font: 20px sans-serif; 
}
.footer__1{
    height: 240px;
    padding-left:50px ;
    width: 160px;
    line-height: 1.5; 
}
.footer__2, .footer__3,.footer__4,.footer__5{
    line-height: 2;  
    flex-wrap: wrap;  
}
.line_vertical{
    height: 10px;
    width: 2px;
    background: rgb(87, 85, 85);
}
.last-footer{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 60px;
}
